body, html {
    /*
  The default html interpertation adds margin and padding to the basic elements
  So it can be logically helpful to remove them from the beginning!
  */
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.flex-header{
  background-color: #7ec0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;

}

.flex-header-name {
  padding-top: 1rem;
  flex: 0.6;
  font-size: 30px;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.flex-links {
  color: #fff;
  padding-bottom: 2rem;
  margin-right: 30px;
  flex: 0.4;
  display: flex;
  justify-content: space-around;

}

.flex-links a {
  margin: 10px;
  font-size: 15px;
  color: inherit;
  font-family: sans-serif;
  text-decoration: none;
}

.img_csv {
  width: 35px;
  height: 30px;
}

.flex-main{
  background-color: #fff;
}

.flex-first-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-fp-left{
  flex: 1;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
  text-align: left;
}

.flex-fp-left-text{
  flex: 1;
  font-family: sans-serif;
  line-height: 15px;

}
.flex-fp-left-text a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: inherit;
}
.flex-fp-left-text p {
  font-size:18px;
  text-decoration: underline;
  color: #666;
  line-height: 10px;
  font-family: sans-serif;
  font-weight: bold;

}

.flex-fp-left-text cursive{
  font-style: italic;
  
}

.flex-fp-left-img{
  flex: 0.6;
}
.flex-fp-left-img img{
  
  margin-top: 20px;
  margin-left: 30px;
  width: 80%;
  height:auto;
  object-fit:cover;
  border-radius: 20%;
}

.flex-fp-right{
  flex: 1;
}

.flex-fp-right img {
  margin-top: 20px;
  margin-left: 30px;
  width: 80%;
  height:auto;
}

.flex-second-part {
background-color: #fff;
margin-top: 50px;
margin-left: 50px;
display: flex;
flex-direction: column;
}

.flex-second-part p{
  font-size:18px;
  text-decoration: underline;
  color: #666;
  font-family: sans-serif;
  font-weight: bold;
}

.flex-second-part dl{
  text-align: justify;
}
.flex-second-part dt {
  margin-top: 10px;
  font-weight: bold;
  color: lightslategray;
  font-size:16px;

}

.flex-second-part dd {
  margin-top: 10px;
  margin-right: 100px;
}

.flex-footer{
  padding-left: 50px;
  padding-top: 1rem;
  background-color: #eeeeee;
  padding-bottom: 2rem;
  color: #666;
  text-align: left;
  font-size: 12px;
}

.flex-second-part a{
  text-decoration: none;
  color: inherit;
}
.flex-footer p {
  font-size: 18px;
  text-decoration: underline;
  color: inherit;
  font-weight: bold;
}

